@model IEnumerable<assignment_3.Models.Student>
@{
    ViewBag.Title = "List";
}

<h2>List</h2>
<p>This page shows information about all Students</p>

<div id="containerlist">
    <h2>LIST OF Students</h2>

    @foreach (var student in Model)
    {
        <div class="listitem row">
            <div class="col-md-2"><a href="/Student/Show/@student.Studentid">@student.Studentfname @student.Studentlname</a></div>
        </div>
    }
</div>